body {
    font-family: 'Vazir', sans-serif, var(--bs-font-sans-serif);
}

p, span, h1, h2, h3, h4, h5, h6 {
    direction: rtl;
}

*[dir='ltr'] {
    direction: ltr !important;
}

nav.nav-row {
    margin: 36px 36px;
    transition: margin 250ms;
}

nav.nav-row > div {
    transition: flex 250ms;
}

.nav-space {
    flex: 6;
}

.expand .nav-space {
    flex: 0;
}

.navbar {
    overflow: hidden;
    flex: 6;
    border-radius: 40px;
    background-color: #427be4;
}

.navbar > div {
    transition: flex 250ms;
}

.navbar .nav-side {
    pointer-events: none;
    position: relative;
    height: 1rem;
    top: 200%;
    opacity: 0;
    flex: 0;
    transition:
        opacity 250ms,
        flex 250ms,
        top 500ms,
        padding 100ms;
}

.navbar.expand .nav-side {
    height: 2rem;
    top: 0%;
    pointer-events: all;
    opacity: 1;
    flex: 3;
}

.navbar .nav-side.padding {
    padding: 0 24px;
}

.navbar .nav-center {
    flex: 6;
}

.banner-box {
    border-radius: 36px;
}

#main-banner {
    margin: 0 36px;
}

#main-banner-box {
    background-color: #427be4;
    width: 100%;
    height: calc(100vh - 72px);
    min-height: 36vw;
    margin: 36px 0;
    content: '';
}
