:root {
    --primary-color: #252525;
    --secondary-color: #404040;
    --passive-color: #202020;
    --bg-color: #131316;
    --text-color: #ffffff;
    --nav-mouse-enter: #ffff;
    --nav-mouse-leave: #0000;
}

body {
    font-family: 'Vazir', sans-serif, var(--bs-font-sans-serif);
    color: var(--text-color);
    background: var(--bg-color);
    background-color: var(--bg-color);
}

.noise {
    background-image: url("/res/img/noise.png");
}

p, span, h1, h2, h3, h4, h5, h6 {
    direction: rtl;
    color: var(--text-color);
}

hr {
    color: var(--primary-color);
}

*[dir='ltr'] {
    direction: ltr !important;
}

#navbar *[class*='col-'], #navbar .col {
    transition:
        opacity 100ms,
        padding 250ms ease-out,
        width 250ms ease-out;
}

#fp-nav span {
    background-color: var(--text-color) !important;
    box-shadow: 0 0.2rem 0.4rem #0005 !important;
}

.fp-tooltip {
    font-family: 'Vazir', sans-serif, var(--bs-font-sans-serif) !important;
}

.col-0 {
    flex: 0 0 auto;
    width: 0;
}

.display-1 {
    font-weight: 400;
    word-spacing: -10px;
}

.text-justify {
    text-align: justify !important;
}

.pe-none {
    pointer-events: none;
}


/** Button */
.btn {
    border-radius: 40px;
}

.btn.btn-light:hover {
    background-color: #dededf;
    border-color: #dededf;
}
/** Button End */


/** Shadow */
p, h1,
.text-shadow {
    text-shadow: 0 0.2rem 0.6rem #0005 !important;
}

.product-shadow {
    box-shadow: 0 0 50px 5px #404040,
    inset 0 0 0 5px #40404058;
}
/** Shadow End */


/** Container */
@media (min-width: 576px) {
    .container-sm,
    .container {
      max-width: 768px;
    }
}

@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 992px;
    }
}

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1420px;
    }
}
/** Container End */


/** Scrollbar  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--passive-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}
/** Scrollbar End */ 


/** Navbar */
nav.nav-row {
    margin-top: 36px;
    margin-bottom: 36px;
    transition: margin 250ms;
}

#navbar {
    padding: 3px;
    overflow: hidden;
}

.navbar {
    border-radius: 999px;
    background: linear-gradient(to right, #252525, #303030);    
    background-clip: padding-box;
}

.navbar::after {
    position: absolute;
    border-radius: 999px;
    inset: -3px; /*! Check browser compatibility */
    background: linear-gradient(to left, #252525, #353535);
    content: '';
    z-index: -1;
}

.navbar .nav-side { 
    pointer-events: none;
    height: 1rem;
    opacity: 0;
}

.navbar.expand .nav-side {
    padding: 0 0;
    height: 2rem;
    pointer-events: all;
    opacity: 1;
}

.navbar .nav-side .side-icon,
.navbar .nav-side .nav-title {
    position: relative;
    top: 200%;
    transition: top 250ms ease-out;
}

.navbar.expand .nav-side .side-icon,
.navbar.expand .nav-side .nav-title {
    top: 0%;
}

.navbar .nav-side a.side-icon {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 5px;
}

.nav-title {
    font-weight: 400;
}

.navbar.expand .nav-side .side-icon:nth-child(1),
.navbar.expand .nav-side .nav-title:nth-child(1) {
    transition-delay: 100ms;
}

.navbar.expand .nav-side .side-icon:nth-child(2),
.navbar.expand .nav-side .nav-title:nth-child(2) {
    transition-delay: 150ms;
}

.navbar.expand .nav-side .side-icon:nth-child(3) {
    transition-delay: 200ms;
}

div.current-box {
    position: fixed;
    background-color: var(--nav-mouse-enter);
    border-radius: 40px;
    opacity: 0;
    transition: left 350ms, width 350ms, opacity 0ms 350ms;
}

.nav-center:hover .navbar-nav div.current-box {
    opacity: 1;
    transition: left 350ms, width 350ms, opacity 0ms 0ms;
}

.navbar-nav .nav-link {
    position: relative;
    border-radius: 40px;
    transition: all 0ms;
}

.navbar-nav .nav-link.current {
    background-color: var(--nav-mouse-enter);
    color: var(--primary-color) !important;
    transition: background-color 0ms 350ms, color 350ms;
}

.nav-center:hover .navbar-nav .nav-link.current {
    background-color: var(--nav-mouse-leave);
    transition: background-color 0ms 0ms, color 350ms;
}
/** Navbar End */


/** Banner */
.banner-box {
    border-radius: 36px;
}

#main-banner-box {
    background-color: var(--primary-color);
    width: 100%;
    height: calc(100vh - 72px);
    min-height: 36vw;
    margin: 36px 0;
    content: '';
}

@media (min-height: 1200px) {
    #main-banner-box {
        min-height: 800px;
        max-height: 800px;
    }
}
/** Banner End */


/** Fullpage Sections */
div#head-section #delta-text {
    position: absolute;
    top: 46px;
    left: 0;
}

div#head-section .delta {
    max-width: 65vh;
    max-height: 55vh;
}

div#head-section p {
    color: #606060;
}

/* .guide {
    border-left: 1px solid white;
    height: 100vh;  
}

.guide:last-child {
    border-right: 1px solid white;
} */

.section-title {
    font-size: 140px;
    word-spacing: -24px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    word-spacing: -1px;
    line-height: 1.75rem;
    text-align: justify;
    color: #45454C;
}
/** Fullpage Sections End */


.primary-btn:link, .primary-btn:visited,
.secondary-btn:link, .secondary-btn:visited {
    width: 200px;
    height: 54px;
    border-radius: 999px;
    border: solid 3px transparent;
    transition: opacity 0.3s;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.primary-btn:link, .primary-btn:visited {
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to right, #F7283C, #EF3C56), 
                      linear-gradient(to left, #F7283C, #EF5E7A);
}

.secondary-btn:link, .secondary-btn:visited {
    border-top-left-radius: 0;
    background-image: linear-gradient(to right, #252525, #303030), 
                      linear-gradient(to left, #252525, #353535);
}

.primary-btn:hover, .primary-btn:active,
.secondary-btn:hover, .secondary-btn:active {
    opacity: 0.85;
}

.faded-circle {
    background-color: #CCCCCC02;
    border-radius: 50%;
    position: absolute;
    z-index: -999;
}

.faded-circle:nth-child(1) {
    width: 90vh;
    height: 90vh;
}

.faded-circle:nth-child(2) {
    width: 80vh;
    height: 80vh;
}

.faded-circle:nth-child(3) {
    width: 70vh;
    height: 70vh;
}

.faded-circle:nth-child(4) {
    width: 60vh;
    height: 60vh;
}