@tailwind base;
@tailwind components;
@tailwind utilities;

#fp-nav ul li a span {
    background: #F3F4F6;
}

.fp-tooltip {
    color: #F3F4F6 !important;
    font-family: "Vazir", sans-serif !important;
}

#arrow-top, #arrow-bottom {
    animation: HeroArrow 2s ease-in-out infinite alternate;
}

#arrow-top {
    animation-delay: 250ms;
}

@keyframes HeroArrow {
    to {
        transform: translateY(16px);
    }
}

#hero-front, #hero-back {
    animation: 3s infinite alternate;
    animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

#hero-front {
    transform: rotateX(65deg);
    animation-name: HeroFront;
}

#hero-back {
    animation-name: HeroBack;
}

@keyframes HeroFront {
    to {
        transform: rotateX(45deg);
    }
}

@keyframes HeroBack {
    to {
        transform: scalex(0.99) scaleY(0.985) translateY(7px);
    }
}

#light > div {
    background-color: #818CF8;
    border-radius: 9999px;
    opacity: 0.02;
    position: absolute;
    animation: LightPulse 1.5s ease-in-out infinite alternate;
}

#light > div:nth-child(1) {
    width: 576px;
    height: 576px;
}

#light > div:nth-child(2) {
    width: 512px;
    height: 512px;
    animation-delay: 250ms;
}

#light > div:nth-child(3) {
    width: 448px;
    height: 448px;
    animation-delay: 500ms;
}

#light > div:nth-child(4) {
    width: 384px;
    height: 384px;
    animation-delay: 750ms;
}

@keyframes LightPulse {
    to {
        transform: scale(1.03);
    }
}
