@tailwind base;
@tailwind components;
@tailwind utilities;

#fp-nav ul li a span {
    background: #F3F4F6;
}

.fp-tooltip {
    color: #F3F4F6 !important;
    font-family: "Vazir", sans-serif !important;
}
